*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h3 {
  padding-top: 30px;
}

img {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.whiteSpace {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;

}

.blueBox {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #A36CFC;
    background-color: #90C5FD;
    width: 300px;
    height: 300px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 20em;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: #4F9CEE;

}

.greyBox {
  margin: 0;
  position: absolute;
  background-color: gray;
  width: 300px;
  height: 300px;
  margin-right: -50%;
  transform: translate( -110%, -50%);
  width: 25em;
  height: 24em;

}

.lowerLemonText {
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
  background-color: #E5E5E5;
  text-align: left;
  border: 2px;
  border-style: solid;
  border-color: gray;
}
.topWhiteBox {
  transform: translate( 1%, -400%);
  width: 30em;
  height: 48px;
  border: 3px;
  border-style: solid;
  border-color: purple
}

.p1 {
  text-align: center;
  color: purple;
}

.p2 li {
  display: inline;
  list-style-type: none;
  text-align: right;
  padding-right: 5px;
  float: right;
}

.whiteBox {
  margin: 0;
  position: absolute;
  top: 145%;
  left: 80%;
  margin-right: -50%;
  transform: translate( -79%, -63%);
  width: 30em;
  height: 21.5em;
  border: 3px;
  border-style: solid;
  border-color: purple;
}

.p3 {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 25px;
}
